@use "../abstracts/variables" as *;

.promotions__groups {

        @media (min-width: $desktop-width) {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

    }

}


.promotions__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media (min-width: $tablet-width) {
        justify-content: start;
        align-items: start;
        margin: 20px;
    }
    @media (min-width: $desktop-width) {
            flex-direction: column;
    }
    
}


.promotions__contentimage { 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @media (min-width: $desktop-width) {
            flex-direction: row;
            align-items: start;
            justify-content: start;
    }
    
}

.promotions__img { 
    height: 150px;
    margin-top: 8rem;
    @media (min-width: $tablet-width) {
        height: 300px;

    }

        @media (min-width: $desktop-width) {
                height: 400px

    }
}

.promotions__svg {
    height: 30px;
    margin: 15px;
    @media (min-width: $tablet-width) {
        height: 50px;
    }
        @media (min-width: $desktop-width) {
            height: 35px;
            margin-left: 10px;
    }
}

.promotions__contenttitle { 
    text-align: center;
    width: 250px;
    @media (min-width: $tablet-width) {
        text-align: start;
        width: 100%;
        margin: 10px;
    }
}

.promotions__contenttext { 
    text-align: start;
    margin: 10px;
        @media (min-width: $desktop-width) {
            width: 600px;

    }

}



